body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
a {
    text-decoration: none;
    color: #2eaae0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div {
    box-sizing: border-box;
}
.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    height: 44px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ccc;
}
.search {
    position: relative;
    flex: 1;
    height: 26px;
    margin: 7px 7px;
    border-radius: 7px;
    border:1px solid #666 ;
    line-height: 24px;
    padding-left: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3) ;
}
.search::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 15px;
    background: url(../img/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto;
}
.user {
    width: 44px;
    height: 44px;
    text-align: center;
    font-size: 12px;
}
.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../img/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 5px auto -2px;
}
.focus img{
    width: 100%;
    margin-top: 44px;
}
.local-nav {
    display: flex;
    height: 64px;
    background: #fff;
    margin: 3px 4px;
    border-radius: 8px;
}
.local-nav li{
    flex: 1;
}
.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    background: url(../img/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
    margin-top: 8px;
}
.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -128px;
}
nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 4px;
}
.nav-common {
    display: flex;
    height: 88px;
    background-color: pink;
}
.nav-common:nth-child(2) {
    margin: 3px 0;
}
.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.nav-items:nth-child(-n+2) {
    border-right: 2px solid #f2f2f2;
}
.nav-items a {
    flex: 1;
    line-height: 44px;
    color: #fff;
    font-size: 14px;
}
.nav-items a:nth-child(2) {
    border-top: 2px solid #f2f2f2;
}
.nav-items:nth-child(1) a {
    line-height: 88px;
    background: url(../img/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left,#fa5a55,#fa994d);
}
.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left,#4b90ed,#53bced);
}
.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left,#34c2a9,#6cd559);
}
.subnav-entry {
    display: flex;
    overflow: hidden;
    border-radius: 7px;
    margin: 4px;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 0;
}
.subnav-entry li {
    flex: 20%;
}
.subnav-entry li span {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry li span a {
    width: 28px;
    height: 28px;
    background: url(../img/subnav-bg.png) no-repeat;
    background-size: 28px auto;
}
.sales {
    border-top: 1px solid #666;
    background-color: #fff;
    margin: 4px;
}
.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #999;
}
.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}
.sales-hd h2::after {
    position: absolute;
    top: 8px;
    left: 20px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../img/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.more {
    position: absolute;
    right: 5px;
    top: -12px;
    background: -webkit-linear-gradient(left,#ff506c,#ff6bc6);
    border-radius: 7px;
    padding: 3px 20px 3px 10px;
    color: #fff;
}
.more::after {
    content: "";
    position: absolute;
    top: 7px;
    right: 9px;
    width: 7px; 
    height: 7px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}
.sales-bd {
    display: flex;
}
.sales-bd a {
    flex: 1;
}
.sales-bd a img {
    width: 100%;
}